---
name: test

on:
  pull_request:
    branches: ['*']
  push:
    branches: ['*']

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Static Analysis
        uses: pre-commit/action@v3.0.0
...
